@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* body {
    background-color: grey;
} */

* {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* css defaults for mobile devices */
h1 {
    padding: 1rem;
    border-bottom: solid 1px black;
    margin: 1rem;
}

h2 {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid 1px black;
    
    }

p {
    background: transparent;
    margin: 1em;
}

.menu-box {
background: white;
}

main, footer {
margin: 1rem;
background: transparent;
}

main {
font-size: 2rem;
}

footer {
font-size: 1rem;
}

article {
    /* border: solid 1px black;    */
    width: calc(100% - 2rem);
    height: 41.5em;
    margin: 1rem 1rem;
    background: white;
    /* opacity: 0.5; */
    
}

header {
    height: 300px;
    background-size: cover;
    background-position: center center;
    }

.menu-articles2 {
    width: auto;
    background-color: transparent;
    height: 20.5em;

}

.menu-button {
    padding: 0.5em;
    margin: 1em;
}

/* hero  */
body, html {
    height: 100%;
}

.hero-image {
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 2em;
    border-bottom: 1px solid white;
  }

  section {
    display: flex;
    justify-content: center;
    margin: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: none;
    gap: 1rem;
}


/* put css styling for  
   mobile devices here */

@media screen and (min-width: 40em) {
  /* put css styling for mid-sized screens here */
  * {background-color: rgb(255, 228, 225);}
 
  
header:hover {
    opacity: 0.5;
  }

  dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-articles2 {
    width: 20em;
    background-color: transparent;
    height: 20.5em;
}

body, html {
    height: 100%;
}

.hero-image {
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
  }
  
.menu-articles {
    background-color: transparent;
}

    
h1 {
    padding: 1rem;
    border-bottom: solid 1px black;
}
h2 {
text-align: center;
margin: 1rem;
padding: 1rem;
border-bottom: solid 1px black;

}
p {
    font-size: 0.9em;
}
article {
    /* border: solid 1px black;    */
    /* adds a border around the box */
    width: calc(100% - 2rem);
    height: 40em;
    margin: 1rem 1rem;
}
/* css overrides for mid-sized screens goes here */
section {
    display: flex;
    justify-content: center;
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    gap: 1rem;
}


article {
    margin: 0;
    width: 100%;
    /* height: 40em; */
}

.images {
    width: 35em;
    height: 19em;
    margin: 0 auto;
 }


}

@media screen and (min-width: 60em) {
  /* put css styling for massive screens here */
  * {background-color: rgb(255, 228, 225);
  }

  dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-articles, a {
    background-color: transparent;
}
  

.menu-articles2 {
    width: 20em;
    background-color: transparent;
    height: 20.5em;
    margin: 2em;
}

/* hero  */
  body, html {
    height: 100%;
}

.hero-image {
    /* Set a specific height */
    height: 70%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 2em;
    border-bottom: 1px solid white;
  }

  header:hover {
    opacity: 0.5;
  }

  h1 {
    padding: 1rem;
    border-bottom: solid 1px black;
}

p {
    font-size: 1em;
}

article {
    /* border: solid 1px black;    */
    /* adds a border around the box */
    width: calc(100% - 2rem);
    height: 48em;
    margin: 1rem 1rem;
}
section {
    grid-template-columns: auto auto auto;
}

.images {
    width: 35em;
    height: 19em;
    margin: 0 auto;
    }
i {
    background: transparent;
}
}